<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <h3>About us is yeah.</h3>
        <hr />
    </body>
</html>