<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        {{>header}}
        <h3>How can I help you?</h3>
        {{>footer}}
    </body>
</html>